*{
  box-sizing: border-box;  
   background-color: lightgrey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.heading{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    /* color:#383832; */
    color: black;
}
.clicked{
    background-color: #fc5868 !important;
}
.game-menu{
    color: #fffffe;
    height: 250px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.user-side{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width:425px;
    height: 250px;
    margin-right: 10px;
    background-color:#fffffe;
    box-shadow: 0px 0px 20px rgb(80, 77, 77);
}
.user-side >h2{
    color: #010101;
    text-align: center;
    background-color: #fffffe;
}
.butn-container{
    flex:1.5;
    display:flex;
    height: 10px;
    padding:22px;
    margin-bottom: 10px;
    justify-content: space-around;
    background-color: #fffffe;
}
.butn-container>div{
    background-color:white;
}
.btn-div{
    border-color: #010101;
    border-style: solid;
    padding: 2px 5px 0px 5px;
}
.btn-div:hover{
    background-color: lightgrey;
    transform:translate(1px,1px);
}
.el{
    margin-top: 15px;
    text-align: center;
    color: #010101;
    background-color: inherit;
}

.btn{
    padding-top: 80px;
    border: none;
    width: 81px;
    height: 80px;
    background-color: inherit;
}
.com-side{
    display: flex;
    flex-direction: column;
    width:425px;
    margin-left: 10px;
    background-color:#fffffe;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(80, 77, 77);
}
.com-side >h2{
    text-align: center;
    background-color: inherit;
}
.com-choice-container{
    padding: 22px;
    height: 100px;
    flex: 1.5;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around;
    background-color: inherit;
}
.rock,.paper,.scissors{
    padding: 0;
    background-color: white;
    height: 126px;
    width: 96px;
    padding: 2px 5px 0px 5px;
    border:solid #010101;
}
.rock>img {
    background-color: inherit;
    height: 80px;
    width:80px;
    object-fit: contain;
}
.paper>img {
    height: 80px;
    width:80px;
    background-color: inherit;
    object-fit: contain;
}
.scissors>img {
    height: 80px;
    width:80px;
    background-color: inherit;
    object-fit: contain;
}
.rock>p {
    text-align: center;
    background-color: inherit;
    color: #010101;
    margin: 15px 0 0 0;
}
.paper>p {
    text-align: center;
    background-color: inherit;
    color: #010101;
    margin: 15px 0 0 0;
}
.scissors>p {
    text-align: center;
    background-color: inherit;
    color: #010101;
    margin: 15px 0 0 0;
}
.selected{
    background-color:#7f5af0;
    color:#010101;
}

.score{
    display: flex;
    justify-content: center;
    margin: 0 50px;
    height: 70px;
    font-size: xx-large;
    /* color: #383832; */
    color: black;
}

.result{
    /* color:#72757e; */
    color: #383832;
    font-size: x-large;
    
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.usr-score{
    padding-right: 167px;
}
.com-score{
    padding-left: 167px;
}
.usr-score,.com-score{
    height:50px;
}
.ply-agn{
    display:none;
    
}
.enable{
    font-size: 1.5ch;
    /* color: white; */
    color: black;
    padding: 10px;
    width: 125px;
}
.enable:hover{
    background-color: gray;
    transform:translate(1px,1px);
}