*{
  box-sizing: border-box;  
}
.game-menu{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}


.user-side{
    width:300px;
    background-color: blue;
    color: aliceblue;
}
.user-side >h2,p{
    text-align: center;
}
.butn-container{
    display:flex;
    height: 50px;
    padding:15px;
    justify-content: space-around;
}

.com-side{
    width:300px;
    background-color: blue;
    color: aliceblue;
}
.com-side >h2,p{
    text-align: center;
}
.com-choice-container{
    display:flex;
    justify-content: space-around;
}

.selected{
    background-color:brown;
}

.score{
    display: flex;
    justify-content: space-around;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ply-agn{
    display:none;
    
}
.enable{
    width: 125px;
}